<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @player1.name %> hit <%= @player2.name %>
    <br>
    <%= @player2.name %>: <%= @player2.hit_points %>HP

  </body>
</html>
