<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link type="text/css" rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <title>Battle time!</title>

  <body>
      <h1 class="enter-names">Enter player names to battle.</h1>

      <form action='/names' method='post'>

        <label for='player1_name'>
          Player 1 name
          <input type='text' name='player1'>
        </label>
        <br>
        <label for='player2_name'>
          Player 2 name
          <input type='text' name='player2'>
        </label>
        <br>
        <input type='submit' value='Submit'>
      </form>

  </body>
</html>
